@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BT3_Nhom3_23WebC.Models.FAQsViewModel
<div id="content" class="right faqs">
    <h2>@Model.Title</h2>
    @foreach (var faq in Model.Items)
    {
        <h5>@faq.Question</h5>
        @foreach (var ans in faq.Answers)
        {
            <p>@Html.Raw(ans)</p>
        }
    }
    <div class="cleaner h40"></div>
    
</div>
<div class="cleaner"></div>