@model List<BT3_Nhom3_23WebC.Models.Products>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Trang chu quan tri</h3>
<p>Chao mung ban den voi trang quan tri!</p>
 
<a href="@Url.Action("Index", "Product", new { area = "Admin" })">Quan ly san pham</a>
 
